$areaBg: #25282d; // 区域背景色
$videoBg: #181b1f; // 视频周围背景色
$videoColor: #000000; // 视频区域背景色
$videoBorderColor: #4a4a4b; // 视频边框色
$contentBg: #24282e; // 内容背景色
$btnBg: #5d8325; // 按钮背景色

$queBg: #171a1d; // 问题背景色
$queContentBg: #171b1d; // 问题输入框背景色
$fontColor: #d9dee2; // 文字颜色
$queBorderColor: #171b1d; // 问题边框色